<a href="https://colab.research.google.com/github/ipd2022/Analysis-and-Prediction-of-Dengue-Disease/blob/main/models/SVR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Dataframe Creation
import pandas as pd
url = '/content/MumbaiMonthly - Copy.csv'
dataset = pd.read_csv(url)
dataset.head()

,Year,Location,Latitude,Longitude,Month,Temperature,Min Temp,Max Temp,Relative humidity,Specific humidity,Precipitation,Dengue Cases,Dengue Deaths
0,2016,Mumbai,19.0761,72.8774,1,23.50,13.05,37.51,45.50,7.57,0.01,21,1
1,2016,Mumbai,19.0761,72.8774,2,25.69,15.20,38.77,50.56,9.52,0.72,23,0
2,2016,Mumbai,19.0761,72.8774,3,29.19,19.51,42.69,47.94,10.80,0.10,22,0
3,2016,Mumbai,19.0761,72.8774,4,30.54,22.00,41.65,53.75,13.37,0.06,21,0
4,2016,Mumbai,19.0761,72.8774,5,31.47,24.36,40.37,61.38,17.03,0.30,27,0

In [ ]:
#Splitting into Train test
dataset.drop(dataset.columns[12], axis=1, inplace=True)
X = dataset.iloc[0 : 72 , 5 : 11]
y = dataset.iloc[0 : 72, -1]

In [ ]:
from sklearn.svm import SVR

model = SVR(kernel = "poly", degree = 4, coef0 = 1.0)
model.fit(X, y)
test = dataset.iloc[72 : , 5 : 11]
prediction = model.predict(test)
print(prediction)

[ 31.51868636  17.1291812    7.37624726   9.89486058  21.32043118
  39.67305191  53.37263677 116.62205902 104.40275875  82.67731616
  70.5209779   56.54852388]

In [ ]:
from sklearn.metrics import mean_squared_error

test1 = dataset.iloc[72 : , -1]
y_pred = model.predict(test)
mean_squared_error(test1, y_pred)

3163.3042830584195